/* header section */
*{
    margin: 0;
    padding: 0;
}
.main-header{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    background-position: bottom right;
    align-items:center ;
    justify-content: space-between;
    padding:30px 30px 0 130px ;
    margin:0;
}
.m-header-titale{
color: #272727;
font-size: 50px;
font-weight: 800;
}
.m-header-deriscription{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Times New Roman', Times, serif;
}
.main-header-img{
    width: 400px;
    height: 500px;
    padding:0 45px;
   
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-multy{
    padding: 20px 43px;
    display: inline-flex;
    background-color: #E55473;
    border-radius: 10px;
    border:none;
    color: #FFF;;
}
/* title area */
.first-title{
    text-align: center;
}
.muilty-title{
    font-size: 30px;
    font-weight: 800; 
    color: #272727;
    margin-top: 100px ;
}
.title-drescription{
    color: #27272799;
    margin-top: 20px;
    margin-bottom: 25px;
}
/* bonus items */
.bonas-img{
    display: flex;
    justify-content:space-evenly;
    margin-left: 250px;
    margin: auto;
    align-items: baseline;
    
    
    
}
.img-item-1{

border-radius: 300px 300px 0 0;
}
.img-item-2{   
    
    border-radius: 300px 300px 0 0;
}
.img-item-3{

    border-radius: 300px 300px 0 0;
}
.bonas-img>img{
    height: 10px;
    width: 300px;
}
.img-driscription{
    text-align: center;
    margin-top: 25px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;

}
.small-container{
    display: flex;
    margin-top: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content:space-around;
    padding:55px;
    text-align: center;
    margin: 125px 240px 125px 240px ;

}
.sub-ders{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}