/* header section */
body{
    margin: 0;
    padding: 0;
}
.main-header{
    display: flex;
    background: rgba(229, 84, 115, 0.10);
    background-position: bottom right;
    align-items:center ;
    justify-content: space-between;
    padding:30px 30px 0 130px ;
    margin:0;
}
.m-header-titale{
color: #272727;
font-size: 50px;
font-weight: 900;
padding-bottom: 25px;
}
.m-header-deriscription{
    color: rgba(39, 39, 39, 0.60);
    font-family: 'Times New Roman', Times, serif;
    padding-bottom: 25px;
}
.main-header-img{
    width: 400px;
    height: 500px;
    padding:0 45px;
   
}
body{
    font-family: 'Open Sans', sans-serif;
}
.btn-multy{
    padding: 20px 43px;
    display: inline-flex;
    background-color: #E55473;
    border-radius: 10px;
    border:none;
    color: #FFF;
    font-weight: 700;
}
/* title area */
.first-title{
    text-align: center;
}
.multy-title{
    font-size: 30px;
    font-weight: 800; 
    color: #272727;
    margin-top: 100px ;
    text-align: center;
}
.title-drescription{
    color: #27272799;
    margin-top: 20px;
    margin-bottom: 25px;
    text-align: center;
}
/* bonus items */
.bonas-img{
    display: flex;
    justify-content:center;
    margin-left: 280px;
    margin: auto;
    align-items:baseline;
    width: 590px;
    height: 538px;  
}
.img-item-1{
    background-color: pink;
    border-radius: 300px 300px 0 0;
    width: 370px;
    height: 485px;
    padding-left: 60px;
    
    
}
.flowers-1{
    width: 310px;
    height: 428px; 
    margin-top: 55px;
    margin-right: 40px;
}
.img-item-2{  
    width: 364px;
    height: 480px; 
    border-radius: 300px 300px 0 0;
    background: rgba(5, 151, 160, 0.15);
    margin-left: 44px;
    padding-right: 80px;
    margin-left: 25px;

}
.flowers-2{
    width: 310px;
    height: 428px; 
    margin-top: 48px;  
    padding-left: 85px;
}
.img-item-3{
    width: 564px;
    height: 480px; 
    margin-left: 24px;
    
    padding-right: 100px;
}
.flowers-3{
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
    width: 314px;
    height: 471px;
    padding-right: 60px;
}
/* .bonas-img>img{
    height: 10px;
    width: 300px;
} */
.img-driscription{
    text-align: center;
    margin-top: 25px;
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    text-decoration-line: underline;

}
.small-container{
    display: flex;
    margin-top: 220px;
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    justify-content:space-around;
    padding:55px;
    text-align: center;
    margin: 125px 240px 125px 240px ;

}
.sub-ders{
    color: rgba(39, 39, 39, 0.80);
    font-size: 24px;
    font-weight: 600;
    line-height: 35px;
}
.discount{
    display: flex;
    background-color: #E554730D;
    justify-content: center;
    align-items: center;
    text-align:center ;
}
.dis-img{
    padding: 60px 0  60px 170px;
    width: 318px;
    height: 420px;


}
.discount-heading{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    padding-bottom: 10px;
}
.ins-img{
    display: flex;
    justify-content: center;
}
.ins-images{
padding-right: 15px;
width: 342px;
height: 396px;
}
.last-img{
    display: block;
    width: 1440px;
    height: 449px;
    margin:128px auto ;
    text-align: center;
}
.last-details{
    position: relative;
    text-align: center;
}
.input-details{
    position: absolute;
    top: 50px;
    left: 30%;
   
}
.last{
    /* position: absolute; */
    text-align: center;

}
.input{
    width: 700px;
    height: 64px;
    border: none;
    font-weight: 400;
    padding-left: 40px;
    margin:0 10px 15px 0;
    border-radius: 10px;
    background-color: #FFF;;
    font-size:larger;
}
.footer{
    padding:140px 250px 140px 250px ;
    background-color: black;
    text-align: center;
}
.footer-header{
    padding-bottom: 30px;
    font-weight: bolder;

}
.footer-der{
    padding-bottom: 30px;
    color:#f0d6d6 ;
}
.time{
    color: aliceblue;
}
.bonas-img > image{
    border: 2px solid green;
    /* border-radius: 300px 300px 0 0; */
}
